* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --xl-text: 50px;
  --l-text: 35px;
  --m-text: 25px;
  --xl-text: 18px;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
}
