nav {
  background-color: rgba($color: #000000, $alpha: 0.5);
  .container {
    padding: 0px 10px;
    justify-content: space-between;
    .logo {
      font-size: var(--l-text);
      color: white;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      a {
        text-transform: capitalize;
        text-decoration: none;
        color: white;
      }
    }
  }
}
